APP_PORT=
APP_HOST=

DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_HOST=
RABBITMQ_PORT=

AWS_ENDPOINT=
AWS_PORT=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_BUCKET_NAME=

QUEUE_EMBEDDING_DOCUMENT=

VDB_EMBEDDING_MODEL=
VDB_DEVICE=
